/*-------------------
    RESET
--------------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*-------------------
    HEADER
--------------------*/

header {
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}
.main-nav ul {
    display: flex;
    list-style: none;
}

.main-nav li {
    padding: 0 10px;
}

.main-nav li a {
    color: inherit;
    text-decoration: none;
}

#toggle-menu {
    display: none;
}

@media screen and (max-width: 768px) { 
    #toggle-menu {
        display: block;
    }
    .main-nav {
        background-color: #eee;
        padding: 20px;
        position: fixed;
        top: 70px;
        right: -40%;
        bottom: 0;
        width: 40%;
        text-align: center;
        transition: right 0.6s;
    }
    .main-nav ul {
        display: block;
    }
    .main-nav ul li {
        padding: 10px 0;
    }

    .open-menu {
        right: 0;
    }
}